.brand-container {
    background-color: #F6F6F6;
    width: 100%;
}

.brand-content {
    width: 60%;
    margin: auto;
    text-align: center;
    padding: 40px;
}

.brand-text {
    font-size: 15px;
    color: #4b4b4b;
    padding: 30px;
}

.brand-icons img {
    padding: 0px 30px;
}