.container-ft-products {
    width: 60%;
    margin: auto;
    text-align: center;
    padding: 50px 30px;
}

.ft-products-sec h2 {
    font-size: 35px;
    padding: 15px;
}

.ft-products-sec span {
    color: #64686c;
    font-size: 13px;
}

.nav-ft-products ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.nav-ft-products li {
    padding: 15px 30px;
    margin: 20px 0px;
    border: 1px solid #d3d3d3;
    background-color: #f7f7f7;
}

.nav-ft-products a {
    text-decoration: none;
    color: #2a2f33;
    font-weight: bold;
    font-size: 15px;
}

/* Product Card */

.ft-products-content {
    display: flex;
    justify-content: center;
} 

.ft-product-card img {
    margin: 20px;
    width: 250px;
}

.ft-product-card-text {
    text-align: left;
}

.ft-product-card-text h1 {
    font-size: 17px;
}

.ft-product-card-text .tags {
    font-size: 12px;
    color: #64686c;
    margin: 5px 0px;
}

.original-price {
    text-decoration: line-through;
    margin-right: 10px;
    font-size: 12px;
}

.ft-product-card-text span {
    color: #307ebe;
}