.container-new-arrivals {
    width: 100%;
    margin: 40px auto;
    text-align: center;
    padding: 50px 30px;
}

.new-arrivals-content {
    position: relative;
}

.new-arrivals-sec h2 {
    font-size: 35px;
    padding: 15px;
}

.new-arrivals-sec span {
    color: #64686c;
    font-size: 13px;
}

.new-arrivals-content img {
    margin: 50px auto;
    width: calc(100% / 5);
}